# Do not include python-compiled, .o, .a and .so

*.pyc
*.pyo
*.o
*.a
*.so
*.ko
*.cmd
*.pdf
*~
\#*
.emacs.desktop*
.make3rd
__pycache__
*notes.txt
*.out
experiments/*
tests/*
Extension/X86
Extension/X86_64
Extension/test3*
Extension/README.py
Extension/t2.py
Extension/testmod/.tmp_versions
Extension/testmod/Module.symvers
Extension/testmod/modules.order
Extension/testmod/testmod.mod.c
